
body{
    background-color: white;
    background:url(../CSS/adote.aqui.jpg);
    background-repeat: no-repeat;
    background-size: 100%;



}
h1{
    background-color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt;
    color: black;
    text-align: center;
    height: 150%;
}

ul{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    list-style-type: none;
    padding: 0%;
    background-color: darkgoldenrod;


}

li{
    color: black;
    padding-right: 70px;
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: white;
    height: 10%;

}

.mainav{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}



ul li a{
    background-color: rgb(78, 76, 76);
    color: darkgoldenrod;
    padding-right: 30%;
    padding-left: 5%;
    width: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
}
    



.amarelo{
    color: darkgoldenrod;
}

.content{
    text-align: justify;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;



}



.footer{
    clear: both;
    color: black;
    font-size: 20px;
}
.footer02{
    background-color: darkgray;
    width: 100%;
    height: 30px;
    

}
